@font-face {
font-family: 'Moon Flower';
font-style: normal;
font-weight: normal;
src: local('Moon Flower'), url('../font/Moon Flower.woff') format('woff');
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Moon Flower';
}



.port{
  padding:40px;
  background-color:#F9DE09;
  height: 100%;
  color:#CC6041;
}

.relative{
  position:relative;
}

.absolute{
  position:absolute;
  top:0;
  right:-9rem;
}

.js-msj{
  position: absolute;
  top: 34px;
  right: 77px;
  border-radius: 6px;
  font-size: 2.5rem;
  z-index: 1;
  background-color: white;
}

.accordion-container {
    width: 100%;
    margin: 0 0 20px;
    clear:both;
}

.accordion-titulo {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #CC6041;
  color: #FFD100;
  padding: 10px;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.accordion-titulo:hover {
  text-decoration: none;
  background: transparent;
  border:1px solid #CC6041;
  border-radius: 25px;
  color:#CC6041;

}


.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}

.accordion-content p{
    margin:0;
}

img{
  width:50%;
}

a > img{
  width:40%;
}

.anchor-portada h2{
  text-decoration:none;
  color:#CC6041;
  font-family: 'Moon Flower';
  margin-top: 0;
}

.anchor-portada:hover, .anchor-portada:link{
  text-decoration: none;
}

a.anchor-portada.n1:hover h2{
  color:#EF2537;
}

a.anchor-portada.n2:hover h2{
  color:#00AAB9;
}

a.anchor-portada.n3:hover h2{
  color:#36B871;
}

.anchor-portada:hover h2{
  text-decoration:none;
}

#map{
  height:100vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.mapa{
  padding-right: 0;
  padding-left: 0;
}

#venta {
  background-color: #38B770;
  height: 100%;
}

.isearch{
  height:40px;
}

#fin {
  background-color: #CC6041;
  height: 20vh;
}

/*boton Home*/

.holder {
  position: fixed;
  top: 5%;
  left:46%;
  height: 300px;
  width: 100%;
  z-index: 1;
}

a.animBtn:link, a.animBtn:visited {
  position: relative;
  display: block;
  font-family: 'Moon Flower';
  font-size: 37px;
  font-weight: bold;
  width: 83px;
  height: 83px;
  margin: 30px auto 0;
  padding: 14px 15px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
a.animBtn:link:after, a.animBtn:visited:after {
  content: "";
  position: absolute;
  background: none repeat scroll 0 0 #fff;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
a.animBtn:link:hover, a.animBtn:visited:hover {
  color: #333;
  text-shadow: none;
}
a.animBtn:link:hover:after, a.animBtn:visited:hover:after {
  height: 420%;
}


a.animBtn.themeB:after {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

/*footer con parallax*/
#scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

header
{
  width: 100%;
  height: 100vh;
  /*background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;*/
  top: 0;
  position: fixed;
  z-index: -1;
}

footer#fin{
  width: 100%;
  height: 300px;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content
{
  height: 100%;
  min-height: 100%;
  background: #ededed;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/*h1{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff;
}

header h1{}

.content h1{
  line-height: 1000px;
  color: #999;
}

footer h1
{
  line-height: 300px;
}*/

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}


@media (max-width:480px){
  img{
    width:100%;
  }

  .anchor-portada h2{
    font-size: 2rem;
    font-weight: bold;
  }
}


@media (max-width:780px){

  #map{
    height:50vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  #venta {
    background-color: #38B770;
    height: 100vh;
  }

  .accordion-content {
      padding: 10px 0;
  }

/*#venta{
  opacity:0;
  -webkit-transition:opacity .6s;
  -moz-transition:opacity .6s;
  -o-transition:opacity .6s;
  transition: opacity .6s;
}

.loaded {
  opacity: 1;
  -webkit-transition:opacity .6s;
  -moz-transition:opacity .6s;
  -o-transition:opacity .6s;
  transition: opacity .6s;

}*/

}
