*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Verdana', monospace;
}

.port{
  padding:40px;
  background-color:#F9DE09;
  height: 100vh;
  /*background-color:#FFD100; color solicitado*/
  color:#CC6041;
}

.relative{
  position:relative;
}

.absolute{
  position:absolute;
  top:0;
  right:-9rem;
}

.js-msj{
  position: absolute;
  top: 34px;
  right: 77px;
  border-radius: 6px;
  font-size: 2.5rem;
  z-index: 1;
  background-color: white;
}

img{
  width:50%;
}

.anchor-portada h3{
  text-decoration:none;
  color:#CC6041;
}

.anchor-portada:hover, .anchor-portada:link{
  text-decoration: none;
}

a.anchor-portada.n1:hover h3{
  color:#EF2537;
}

a.anchor-portada.n2:hover h3{
  color:#00AAB9;
}

a.anchor-portada.n3:hover h3{
  color:#36B871;
}

.anchor-portada:hover h3{
  text-decoration:none;
}

#map{
  height:300px;
}

.mapa{
  padding-right: 0;
  padding-left: 0;
}

.venta{
  opacity:0;
  -webkit-transition:opacity .6s;
  -moz-transition:opacity .6s;
  -o-transition:opacity .6s;
  transition: opacity .6s;
}

.loaded {
  opacity: 1;
  -webkit-transition:opacity .6s;
  -moz-transition:opacity .6s;
  -o-transition:opacity .6s;
  transition: opacity .6s;
}
